body{
    margin: 0px;
    padding: 0px;
}

body>#navbar{
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    position: fixed;
    z-index: 10;
}

video{
    width: 100%;
    
    border: 0px solid red;
    
}
#overide{
    
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
        width: 40%;
        text-align: center;
      
}
#overide button{
    padding: 10px;
    border-radius: 7px;
    color: red;
    border: none;
    margin-bottom: 20px;
}
#overide img{
    border: 0px solid red;
}
#mid{
    background-color: #171a26;
    margin-top: -10px;
    border: 1px solid white;
    color: white;
}
#pass{
    display: flex;
    text-align: center;
    width: 80%;
    margin: auto;
    gap: 20px;
    color: #7d7f85;
    margin-top: 0px;
    border: 0px solid white;
    margin-top: 50px;
   
}
#pass div{
    border: 0px solid white;
    padding: 0px 35px 0px 35px;
    border-radius: 10px;
    background-color: #232631;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#pass div:hover{
    
    /* background-color: #5b6066; */
    transition-duration: 1s;
    transform: scale(1.05, 1.05)
    /* color: #171a26; */
}
#member{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
    width: 80%;
    margin: auto;
    margin-top: 70px;


}
#member img{
    width: 100%;
    height: 300px;
}
#three{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
    width: 80%;
    margin: auto;
    margin-top: 70px;
}
#three img{
    width: 100%;
}
#three div{
    border: 0px solid white;
}
#triner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    margin: auto;
    margin-top: 50px;
    gap: 20px;

}
#triner img{
    width: 100%;
    border-radius: 10px;
    
    height: 250px;
}
h1{
    text-align: center;
}
#triner img:hover{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.05, 1.05);
}
#passs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#passs img:hover{
    transition-duration: 1s;
     transform: scale(1.05, 1.05);

}
#passs button{
    margin-top: 50px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 7px;
    border: none;
}
#passs button:hover{
    background-image: linear-gradient(to right, #ff0be0,#2d00ff);
    color: white;

}
 p{
    text-align: center;
}
#passs h2,h3,button{
    margin-left: 20px;
}
#color{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,400px);
    gap: 40px 20px;
    width: 80%;
   margin: auto;
   margin-top: 50px;
}
#color div{
    border: 0px solid white;
    border-radius: 10px;
   /* //background-image: linear-gradient(to right,red,yellow); */
}
#color img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 1;
}
#color img:hover{
     
     transition-duration: 1s;
     transform: scale(1.05, 1.05);
}
#imga{
    width: 80%;
    margin: auto;
    margin-top: 50px;

}
#imga img{
    width: 100%;
}
#imga:hover{
    transition-duration: 1s;
     transform: scale(1.05, 1.05);
  
}
#downlod{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#downlod img{
    width: 100%;
}
#downlod:hover{
    transition-duration: 1s;
     transform: scale(1.05, 1.05);
}
#join{
    font-size: 50px;
}
#family{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border: 0px solid wheat;
   
}
#family img{
    width: 100%;
}
#family div{
    border: 0px solid wheat;
}
#family div:hover{
    transition-duration: 1s;
     transform: scale(1.05, 1.05);
}



