#busy{
    background-color:rgb(41, 39, 39);
    color:white;
    align-items: center;
    font-size: 45px;
    
}
button{
    margin-left:650px;
    font-size: 40px;
    color:white;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}
#crousel>img{
    height:400px;
    width:1400px;
}
#crown>img{
    height:200px;
    width:1400px;

}