#busy{
    background-color:rgb(41, 39, 39);
    color:white;
    align-items: center;
    font-size: 45px; 
   
     justify-content: center;
}

#crousel>img{
    height:400px;
    width:1400px;
}
#crown>img{
    height:200px;
    width:1400px;

}
#container>div>img{
    width:50%;
}
#crown{
    width: 80%;
    height:auto;
    text-align: center;
}
#container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap:5px;
    margin-left: 30px;
    margin-right:30px;

}