 #busy{
    background-color:rgb(57, 58, 59);
    color:white;
    align-items: center;
    font-size: 45px;
    padding-top: 70px;
}

#busy>button{
    margin-left:650px;
    font-size: 20px;
    color:white;
    background-color: rgb(35, 37, 38);
    /* margin-top: 10px; */
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.title {
    width: 100%;
}

#cart-image {
    width: 45%;
}

#cart-image>img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.item-detail{
    width: 45%;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#add-div {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

#item-title {
    width: 100%;
    margin-top: 0;
}

#item-desc {
    width: 100%;
    margin-top: 20px;
    line-height: 30px;
}

#add-btn {
    width:20%;
    height:37px;
    border-radius: 10px;
    cursor:pointer;
}

#add-btn:hover{
    background-color: red;
    color: black;
}

#carts{
    display: flex;
    margin: 3%;
    gap: 5%;
}
