*, :after,:before {
    box-sizing: border-box;
}
body{
    background-image: url(https://img.freepik.com/premium-photo/blurred-background-rows-black-dumbbells-rack-gym_42687-402.jpg?w=2000);
}
.main-parent {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child{
    height: auto;
    width: auto;
    animation: 300ms ease-out 0s 1 normal none running;
    z-index: 5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 85px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgb(0 0 0 / 50%) 0px 5px 15px;
}
.form-data {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.contact-data {
    margin-top: 60px;
}
.mobile-num {
    width: 95%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.enter-email {
    height: 25px;
    width: 90%;
    margin-top: 15px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
}
.connect-btn {
    cursor: pointer;
    transition: all 250ms ease 0s;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background: rgb(200, 200, 200);
    font-size: 15px;
    line-height: 14px;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: 900;
    width: 80%;
    letter-spacing: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.social-media {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-1 {
    width: 81%;
    cursor: pointer;
    border: 1px solid transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: all 250ms ease 0s;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: 600;
}
.social-media-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.social-media-2 > p{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    color: rgb(202, 202, 202);
    font-size: 13px;
    letter-spacing: 1px;
}
.social-media-3{
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 70px; 
    gap: 10px;
}
.terms-services{
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.8px;
    width: 65%;
    margin: 40px auto;
    text-align: center;
    cursor: pointer;
}
