body{
    margin: 0px;
    padding: 0px;
    font-style: sans-serif;
}

#navigator{ 
    margin-top: 60px;
    background-color: rgb(57,58,59);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}
#navigator button{
    padding: 10px 20px;
    background-color: rgb(57,58,59);
    border: 0px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
#navigator>a>.lander{
    background-color: rgb(29,29,33);
}
#library_main{
    background-color: rgb(243,243,250);
    padding-top: 150px;
    padding-bottom: 50px;
}
#library{
    width: 70%;
    margin: auto;
    /* margin-top: 50px; */
}
#library h1{
    font-weight: lighter;
    font-size: 28px;
}
#library>p{
    font-weight: lighter;
    font-size: 14px;
    color: gray;
}
#container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.card{
    display: flex;
    padding: 5px 10px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    
}
.card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.img_div{
    width: 40%;
}
.img_div img{
    width: 100%;
    height: 90%;
    border-radius: 10px;
}

.content{
    width: 60%;
    display: grid;
    align-items: space-around;
}
.content h2{
    font-weight: 530;
    word-spacing: -2px;
    font-size: 24px;
}
.content p{
    font-size: 12px;
    color: rgb(97, 97, 97);
    line-height: 20px;
}
.card h4{
    font-weight: lighter;
    font-size: 14px;
}
#quick_link{
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}
#quick_link>h3{
margin-bottom: 0px;
}

#quick_link>div{
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;  
    border-bottom: 2px solid rgb(149, 148, 148);
    cursor: pointer;
}
#footer_head>h1{
color: rgb(95, 95, 95);
font-size: 80px;
margin-bottom: -50px;
}
#footer_head>h2{
color: rgb(152, 150, 150);
margin-bottom: -30px;
font-size: 60px;
}
#footer_head>h3{
    color: rgb(152, 152, 152);
    font-size: 40px;
}
