body{
    margin: 0;
    font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

#navbar{
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    z-index: 10;
    position: fixed;
}

#logo-div{
    width: 20%;
    font-family: Inter-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}
#logo-div>img{
    height: 100%;
    cursor: pointer;
}

#menu-div{
    width: 50%;
    font-family: Inter-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    color: rgb(245, 245, 245);
    display: flex;
    gap: 60px;
    margin-left: 110px;
}
.h5-cls{
    font-size: 18px;
    font-weight: bold;
    align-items: center ;
    line-height: 22px;
    cursor: pointer;
    margin: 20px 0 0 0;
}

#login-div{
    font-family: Inter-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    width: 30%;
    display: flex;
    gap:27px;
    align-items: center;
    color: white;
}

.location-cls{
    display: flex;
    gap:10px;
    font-size: 14px;
    color: white;
    font-family: Inter-Regular,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: 0.5px;
    line-height: 22px;
    cursor: pointer;
    padding: 6px 10px;
}

.location-cls:hover{
    background-color: rgb(161, 158, 158);
    border-radius: 5px;
}

.btn-cls{
    align-items: center;
    color: white;
    background: transparent;
    font-size: 12px;
    line-height: 12px;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid white;
}
#location-menu{
    position: fixed;
    right: 0;
    width: 280px;
    height: 400px;
    margin-left: auto;
    margin-right: 212px;
    margin-top: 60px;
    padding: 20px;
    background-color: black;
    color: gray;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
    padding-bottom: 30px;
    z-index: 8;
}

#cart{
    position: fixed;
    right: 0;
    width: 280px;
    height: 500px;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 60px;
    padding: 20px;
    background-color: black;
    color: gray;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
    padding-bottom: 30px;
    z-index: 9;
    border-left: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    padding-bottom: 20px;
}

.cart-sub-header{
    font-size: 13px;
    color: white;
    border-bottom: 1px solid rgb(221, 220, 220);
    display: flex;
    gap: 10px;
}

.cart-sub-header>p {
    margin-top: 0;
    margin-left: auto;
    font-weight: bold;
}

.test-count{
    color: white;
    font-weight: bold;
    background-color: rgb(240, 62, 62);
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

.cart-count {
    margin-left: -10px;
    width: 20px;
}

.cart-body {
    height: 370px;
    text-align: center;
    color: rgb(235, 232, 232);
    overflow-y: scroll;
}

.cart-body>img {
    width: 200px;
    
}

.cart-body> h6 {
    width: 70%;
    margin: auto;
    font-weight: 600;
}

.cart-item{
    display: flex;
    margin: 10px auto;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.cart-item>img{
    height: 53px;
}

.item-div{
    width: 80%;
}

.item-div>h4{
    margin-top: 0;
    font-size: 13px;
    text-align: left;
}

.price-remove>p{
    margin-left: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 11px;
}

.price-remove {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-remove>button{
    height: 20px;
    font-size: 10px;
    background-color: rgb(240, 61, 61);
    border-radius: 5px;
    color: white;
}

.cart-btn {
    height: 35px;
    width: 270px;
    background-color: white;
    color: rgb(238, 69, 97);
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cart-btn>b{
    font-size: 15px;
}

.input-search{
    display: flex;
}

.input-search>input{
    color: white;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    margin-left: -25px;
    padding-left: 35px;
    border: 1px white solid;
    background-color: black;
}

.input-search>i{
    position: relative;
    margin-left: 10px;
    margin-top: 8px;
    color: white;
}

.popular-head {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

#city-list {
    margin-top: 25px;
}

#city-list>div {
    display: flex;
    color: gray;
    align-items: center;
    height: 50px;
}

#city-list>div>img {
    height: 30px;
    width: 30px;
}

#city-list>div>h4 {
    margin-left: 8px;
    cursor: pointer;
}

#city-list>div>h4 {
    display: flex;
    color: gray;
    align-items: center;
    height: 50px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 5px;
    height: 50px;
}

#other-list{
    margin-top: 35px;
}
#other-list>div>h4{
    cursor: pointer;
}