*{
    font-style: sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

#navigator{ 
    margin-top: 60px;
    background-color: rgb(57,58,59);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}
#navigator button{
    padding: 10px 20px;
    background-color: rgb(57,58,59);
    border: 0px;
    color: white;
   font-size: 18px;
    border-radius: 5px;
}
#navigator>a>.lander{
    background-color: rgb(29,29,33);
}
#slider{
    width: 75%;
    padding-top: 120px;
    margin: auto;
}
#slider img{
    width: 100%;
}
#slider div{
    width: 80px;
    display: flex;
    gap: 20px;
    margin: auto;
    margin-top: 30px;
}
#slider>div>button{
background-color: red;
border: 0px;
width: 25px;
height: 2px;
}
#slider>div>button:hover{
    height: 5px;
    width: 30px;
}
#know_more{
    width: 75%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
}
#know_more>img{
    width: 100%;
}
#experts{
    width: 70%;
    margin: auto;
    border-radius: 10px;
}
#experts >h1{
    font-size: 25px;
    font-weight: bold;
}

#expert_div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 10px;
}

#expert_div img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: -140px;

}


.detail{
    width: 65%;
    font-weight: bold;
    position: relative;
    bottom: 70px;
    right: -10px;
}
.detail p{
    font-size: 14px;
    color: rgb(37, 37, 37);
}

.detail h3{
    font-weight: bold;
}
#assure{
    width: 75%;
    margin: auto;
    margin-top: 30px;
}
#assure img{
    width: 100%;
}
.cards:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#FAQS{
    background-color: rgb(23,26,38);
    padding: 20px;
    font-style: small-caps bold sans-serif;
}
#header span{
    font-size: 16px;
    color:  rgb(129, 129, 129);
}
#header{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    color: white;
}
#header>h1{
font-size: 36px;
}
#question{
    width: 70%;
    margin: auto;
    color: white;
    padding-bottom: 50px;
    
}
#question li{
    font-size: 26px;
}
#question p{
font-size: 18px;
}
#question>div{
    border-bottom: 1px solid  white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.qus > div{
    width: 70%;
}