<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get best Fitness Workouts and Gyms in India by FIT ME</title>
    <link rel="stylesheet" href="../styles/navbar.css">
</head>
<body>
    <div id="navbar">
        <div id="logo-div"></div>
        <div id="menu-div">
            <div>FITNESS</div>
            <div>CARE</div>
            <div>MIND</div>
            <div>STORE</div>
        </div>
        <div id="login-div">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
<script src="../scripts/navbar.js"></script>
</html>